<article class="homepage-article">

  <section class="challenges-hero homepage-image">
    <h1>CODING CHALLENGES</h1>
  </section>
    <section>
        <h2>CHALLENGES</h2>
        <ol>
            {{#each challenges as |challenge|}}
            <li>
                {{> code-info challenge}}
            </li>
            {{/each}}
        </ol>
    </section>

</article>

<section>
  <h2>Submit Coding Challenge</h2>

  <form class="new-challenge-form">
    <div>
      <label for="code.title">Title</label>
      <input name="title" type="text"/>
    </div>
    <div>
      <label for="code.code_url">Link</label>
      <input name="code_url" type="text"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>