<article class="homepage-article">

    <section class="challenges-hero homepage-image">
    <h1>CODING CHALLENGES</h1>
    </section>
    <div class="single-page">
        <h2>TITLE TEXT</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque nec nam aliquam sem. Velit egestas dui id ornare arcu odio.</p>
        <button>SUBMIT CHALLENGE</button>
    </div>
    <section class="content-card flex-row">
        <div class="post-image">
        <img class="border-round" src="../images/app-screenshot.jpg" alt="apps ready to play"/>
        </div>
        <div class="post-text">
        <h2>TITLE TEXT</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque nec nam aliquam sem. Velit egestas dui id ornare arcu odio.</p>
        <button>HAVE AT YE, CHALLENGE!</button> 
        </div>
    </section>

</article>