<article class="challenges-article">

  <section class="challenges-hero homepage-image">
    <h1>CODING CHALLENGES</h1>
  </section>
    <section class='content-card flex-row'>
      <div class='post-text'>
        <h2>CHALLENGES</h2>
        <ol>
            {{#each challenges as |challenge|}}
            <li>
                {{> code-info challenge}}
            </li>
            {{/each}}
        </ol>
        </div>
    </section>

</article>