<article class="homepage-article">

  <section class="challenges-hero homepage-image">
    <h1>CODING CHALLENGES</h1>
  </section>
    <section>
        <h2>CHALLENGES</h2>
        <ol>
            {{#each codes as |code|}}
            <li>
                {{> code-info code}}
            </li>
            {{/each}}
        </ol>
    </section>

</article>