<article class="homepage-article">

  <section class="homepage-hero homepage-image">
    <h1>WELCOME TO SEEVEE</h1>
  </section>

  <div class="pods-container">
    {{! <section id="challenges" class="pods"> }}
    <div class="challenges homepage-image">
      <a href="/coding-challenges">
        <h2>CHALLENGES</h2>
      </a>
    </div>
    {{! </section> }}

    {{! <section id="experiences" class="pods"> }}
    <div class="experiences homepage-image">
      <a href="interview-experiences">
        <h2>EXPERIENCES</h2>
      </a>
    </div>
    {{! </section> }}

    {{! <section id="jobs" class="pods"> }}
    <div class="jobs homepage-image">
      <a href="jobs">
        <h2>JOBS</h2>
      </a>
    </div>
    {{! </section> }}
  </div>

</article>