<article class="homepage-article">

  <section class="homepage-hero homepage-image">
    <h1>WELCOME TO SEEVEE</h1>
  </section>

  <div class="pods-container">
    <div class="challenges homepage-image">
      <a href="/coding-challenges">
        <h2>CHALLENGES</h2>
      </a>
    </div>

    <div class="experiences homepage-image">
      <a href="/interview-experiences">
        <h2>EXPERIENCES</h2>
      </a>
    </div>

    <div class="jobs homepage-image">
      <a href="/jobs">
        <h2>JOBS</h2>
      </a>
    </div>

  </div>

</article>