<article class="homepage-article">
  <section class="experiences-hero homepage-image">
    <h1>INTERVIEW DETAILS</h1>
  </section>
  <div class="single-page">
    <h2>TITLE TEXT</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Pellentesque nec nam
      aliquam sem. Velit egestas dui id ornare arcu odio.
    </p>
    <button>VIEW INTERVIEW DETAILS</button>
  </div>
  <section class="content-card flex-row">
    <div class="post-text">
      <h2>TITLE TEXT</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Pellentesque nec nam
        aliquam sem. Velit egestas dui id ornare arcu odio.
      </p>
      <button>VIEW INTERVIEW DETAILS</button>
    </div>
    <!-- using Clearbit logo api needs to take in website name + .com i.e. spotify.com
                size constraints + color contraints as follows: <img src="https://logo.clearbit.com/spotify.com?size=80&grayscale=true" /> -->
    <div class="post-image">
      <img
        class="border-round pulled-company-logo"
        src="https://logo.clearbit.com/{{company_name}}.com?size=180"
        alt="company logo here"
      />
    </div>
  </section>
</article>