<article class="interview-article">
  <section class="interview-hero homepage-image">
    <h1>JOB BOARD</h1>
  </section>

<section class="just-padding">
  <h2>Submit Job</h2>

  <form class="account-form new-job-form">
    <div class="post just-width">
      <label for="title">Title:</label>
      <input type="text" class="submission-form just-width" id="title" name="title" />
    </div>
    <div class="post just-width">
      <label for="company_name">Company:</label>
      <input class="submission-form just-width" id="company_name" name="company_name" />
    </div>
    <div class="post just-width">
      <label for="description">Description:</label>
      <input class="submission-form just-width" id="description" name="description" />
    </div>
    <div class="post just-width">
      <label for="location">Location:</label>
      <input class="submission-form just-width" id="location" name="location" />
    </div>
    <div class="post just-width">
      <label for="job_url">Job URL:</label>
      <input class="submission-form just-width" id="job_url" name="job_url" />
    </div>
    <div class="account-button">
      <button type="submit" class="btn">Create:</button>
    </div>

  </form>
</section>

<section class="just-width content-section">
    <div class="just-min-width">
      {{#each postings as |job|}}
      <div>
        {{> job-info job}}
      </div>
      {{/each}}
    </div>
</section>

<script src="/javascript/add-job.js"></script>