<article class="login-article">
  <h2 class="login-title">Create an account</h2>
  <section class="login-card flex-row">
    <div class="post-text">
      <h3>Email Address:</h3>
      <form>
        <input
          type="email"
          placeholder="Enter your email address"
          id="email"
          name="email"
          class="form-input"
        />
      </form>
      <h3 class="margin-top">Password:</h3>
      <form>
        <input
          type="password"
          placeholder="Enter your password"
          id="password"
          name="password"
          class="form-input"
        />
      </form>
      <h3 class="margin-top">Confirm Password:</h3>
      <form>
        <input
          type="password"
          placeholder="Confirm your password"
          id="confirm-password"
          name="confirm-password"
          class="form-input"
        />
      </form>
    </div>
    <button class="login-btn margin-top">CREATE AN ACCOUNT</button>
    <button class="login-btn margin-top">LOGIN</button>
  </section>
</article>